#wrap {
    width: 100%;
}
/* ---- */
.main {
    width: 100%;
}
.main .visual {
    padding: 0 5.556vw;
}
.main .visual .swiper {
    width: 100%;
    height: 100%;
}

.main .visual .swiper-slide {
    text-align: center;
    font-size: 5vw;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .visual .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.main .visual .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .visual .swiper-slide p {
    position: absolute;
    z-index: 100;
    left: 6.667vw;
    top: 9.444vw;
    font-weight: 700;
    font-size: 6.111vw;
    line-height: 1.4;
    text-align: left;
}
.main .visual .swiper-slide p.w {
    color: #fff;
}

.main .visual .swiper-slide p span {
    font-size: 3.889vw;
    display: block;
    margin-bottom: 2.222vw;
    font-weight: 500;
}

.main .product {
    margin-top: 10vw;
    width: 100%;
    height: 172.222vw;
    box-sizing: border-box;
    position: relative;
}
.main .product .tab {
    position: sticky;
    top: 0vw;
    padding: 0vw 5.556vw;
    font-size: 4.444vw;
    font-weight: 700;
    border-top: 0.278vw solid var(--border-color-2);
    border-bottom: 0.278vw solid var(--border-color-2);
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 0.556vw 2.778vw #00000010;
}
.main .product .tab ul {
    display: flex;
    gap: 5.556vw;
}
.main .product .tab ul li {
    cursor: pointer;
    padding: 3.333vw 0;
    color: var(--font-color-grey-1);
}
.main .product .tab ul li.active {
    color: var(--main-color);
}
.main .product .items {
    padding: 0 5.556vw;
    box-sizing: border-box;
    width: 100%;
}
.main .product .items .tit {
    padding: 5.556vw 0 3.333vw;
    font-weight: 500;
    font-size: 4.167vw;
}
.main .product .items .best {
    position: relative;
    width: 100%;
    height: 66.667vw;
    overflow: hidden;
    margin-bottom: 3.333vw;
}
.main .product .items .best a {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main .product .items .best a div {
    border-radius: 0.833vw;
    overflow: hidden;
}
.main .product .items .best a img {
    width: 100%;
    height: 100%;
}
.main .product .items .best p:first-of-type {
    position: absolute;
    left: 4.444vw;
    bottom: 17.778vw;
    font-size: 4.444vw;
    font-weight: 700;
}
.main .product .items .best p:last-of-type {
    position: absolute;
    left: 4.444vw;
    bottom: 6.667vw;
    font-size: 3.889vw;
    word-break: keep-all;
    line-height: 1.4;
    font-weight: 500;
}
.main .product .items > div:not(.best) {
    width: 100%;
    height: 23.611vw;
}
.main .product .items > div a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.main .product .items > div .pic {
    width: 40%;
    height: 22.222vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 0.833vw;
}
.main .product .items > div .pic img {
    width: 100%;
}
.main .product .items > div:last-of-type .pic img {
}
.main .product .items > div .desc {
    width: 60%;
    margin-left: 3.333vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main .product .items > div .desc p:first-child {
    font-size: 3.889vw;
    font-weight: 500;
    word-break: keep-all;
}
.main .product .items > div .desc p:last-child {
    font-size: 3.611vw;
    line-height: 1.3;
    word-break: keep-all;
}

.main .recommend {
    border-top: 0.278vw solid var(--border-color-2);
    border-bottom: 0.278vw solid var(--border-color-2);
    margin: 5.556vw 0;
    width: 100%;
    padding: 0 5.556vw 5.556vw;
    box-sizing: border-box;
    margin-bottom: 8.333vw;
}
.main .recommend h2 {
    font-size: 4.444vw;
    font-weight: 700;
    padding: 5.556vw 0 3.333vw;
}
.main .recommend .swiper {
    height: 66.667vw;
}
.main .recommend .swiper-wrapper {
}
.main .recommend .swiper-slide {
    position: relative;
    width: 83.333vw;
    font-size: 5vw;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main .recommend .swiper-slide::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#00000000 40%, #00000080 100%);
    width: 100%;
    height: 100%;
}
.main .recommend .swiper-slide img {
    width: 100%;
    position: relative;
}
.main .recommend .swiper-slide div {
    position: absolute;
    bottom: 3.333vw;
    left: 2.222vw;
    color: #fff;
    z-index: 10;
}
.main .recommend .swiper-slide div p:first-child {
    font-size: 3.889vw;
    font-weight: 500;
}
.main .recommend .swiper-slide div p:last-child {
    font-size: 3.611vw;
    word-break: keep-all;
    line-height: 1.4;
    font-weight: 300;
}

.main .recommend .swiper-button-next,
.main .recommend .swiper-button-prev,
.main .recommend .swiper-rtl .swiper-button-prev {
    color: #fff;
    --swiper-navigation-size: 10vw;
}

.main .review {
    border-top: 0.278vw solid var(--border-color-2);
    margin: 5.556vw 0;
    width: 100%;
    padding: 0 5.556vw;
    box-sizing: border-box;
    margin-bottom: 8.333vw;
}
.main .review h2 {
    font-size: 4.444vw;
    font-weight: 700;
    padding: 5.556vw 0;
}
.main .review .box {
    width: 100%;
    height: 27.778vw;
    background-color: var(--background-color-1);
    border-radius: 0.833vw;
}
.main .review .box:first-of-type {
    margin-bottom: 3.333vw;
}
.main .review .box a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3.333vw;
    box-sizing: border-box;
    display: flex;
    position: relative;
}
.main .review .box a .pic {
    width: 55.556vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 0.833vw;
}
.main .review .box a .pic img {
    width: 160%;
}
.main .review .box a .desc {
    margin-left: 3.333vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main .review .box a .desc p:first-child {
    font-size: 3.333vw;
    color: var(--font-color-grey-2);
}
.main .review .box a .desc p:nth-child(2) {
    font-size: 3.611vw;
    font-weight: 500;
}
.main .review .box a .desc p:last-child {
    width: 100%;
    font-size: 3.333vw;
    color: var(--font-color-grey-1);
    line-height: 1.3;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.main .review .box a .star {
    position: absolute;
    right: 3.333vw;
    top: 3.333vw;
    font-size: 3.333vw;
    color: var(--main-color);
}

.main .sbanner {
    width: 100%;
    overflow: hidden;
}
.main .sbanner img {
    width: 100%;
}

.main .event {
    margin: 2.222vw 0 0vw;
    width: 100%;
    padding: 0 5.556vw 0vw;
    box-sizing: border-box;
    margin-bottom: 8.333vw;
}
.main .event h2 {
    font-size: 4.444vw;
    font-weight: 700;
    padding: 5.556vw 0;
}
.main .event .swiper {
    width: 100%;
    height: 100%;
}
.main .event .swiper {
    width: 100%;
    height: 100%;
    border-radius: 0.833vw;
}
.main .event .swiper-slide {
}
.main .event .swiper-slide div {
    width: 100%;
    border-radius: 1.389vw;
    overflow: hidden;
}
.main .event .swiper-slide div img {
    width: 100%;
}
.main .event .swiper-slide p {
    margin-top: 2.222vw;
    margin-left: 1.111vw;
    font-size: 3.889vw;
    font-weight: 500;
}

.main .service {
    margin-top: 2.222vw;
    margin-bottom: 5.556vw;
    width: 100%;
    height: 44.444vw;
    overflow: hidden;
}
.main .service .swiper {
    width: 100%;
    height: 100%;
}
.main .service .swiper-slide {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.main .service .swiper-slide img {
    display: block;
    width: 100%;
    transform: scale(1.4);
}
.main .service .swiper-slide p {
    position: absolute;
    left: 5.556vw;
    color: #fff;
}
.main .service .swiper-pagination-bullet {
    width: 2.778vw;
    height: 2.778vw;
}
.main .service .swiper-slide p:first-of-type {
    top: 15.833vw;
    font-size: 4.167vw;
    font-weight: 500;
}
.main .service .swiper-slide p:last-of-type {
    top: 22.778vw;
    font-size: 3.611vw;
    word-break: keep-all;
    line-height: 1.4;
    color: #ffffffe4;
}
.main .service .swiper-pagination-bullet-active {
    background-color: #ffffff90;
}

.top-btn {
    position: fixed;
    right: 3.333vw;
    bottom: 3.333vw;
    background-color: #fff;
    border: 0.278vw solid var(--border-color-2);
    box-shadow: 0vw 0vw 0.556vw #00000020;
    width: 11.111vw;
    height: 11.111vw;
    border-radius: 50%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}
.top-btn i {
    color: var(--font-color);
    font-size: 5.556vw;
    transition: 0.2s;
}
.top-btn.active {
    opacity: 1;
    display: flex;
}
